.skills {
  .content {
    .list-skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .skill-card {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        padding: 0.3em;

        justify-content: center;
        width: 6rem;
        height: auto;

        small {
          justify-self: center;
          align-self: center;
        }
        img {
          max-width: 100%;
          //background-color: rgb(39, 39, 39);
        }
      }
    }
  }
}
