*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Syncopate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "./header";
@import "./contact";
@import "./work";
@import "./skills";
body {
  font-family: "Roboto", sans-serif;
  background: rgb(53, 53, 53);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url(../assets/bg.png);
  color: white;
  padding: 0 2rem 2rem 2rem;
}
ul {
  list-style: none;
}

section {
  padding: 3rem 0;
  p {
    margin: 0.8rem 0;
  }
}
.section-name {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  padding-left: 3.5rem;
  &::before {
    content: "";
    left: 0;
    position: absolute;
    background: white;
    width: 3rem;
    height: 0.1rem;
  }
}
.section-title {
  font-weight: 500;
  margin-top: 0.8rem;
}

.btn {
  border: none;
}
.btn-main {
  padding: 0.5rem 2rem;
  font-weight: 500;
}

footer {
  h3,
  h4 {
    font-weight: 500;
    text-align: right;
  }
  h4 {
    color: grey;
  }
}
@media (min-width: 1000px) {
  body {
    padding: 2rem 5rem 5rem 5rem;
    position: relative;
  }
  section {
    height: 100vh;
    header {
      .section-name {
        font-size: 1.2rem;
        padding-left: 3.5rem;
        &::before {
          width: 3rem;
          height: 0.2em;
        }
      }
      .section-title {
        font-weight: 400;
        margin-top: 0.8rem;
        font-size: 3rem;
      }
    }
  }
}
